.about {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  border-radius: 10px;
  background-color: rgba(77, 72, 114, 0.05);
  padding: 10px;
}

.about-left {
  flex-basis: 40%;
  position: relative;
  height: 100%;
  padding: 20px;
  transition: 0.5s;
}

.about-img {
  width: 100%;
  opacity: 90%;
  object-fit: cover;
  height: 550px;
  width: 800px;
  border-radius: 10px;
}

.about-right {
  flex-basis: 56%;
  margin: 20px;
}

.play-icon {
  width: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 5;
}

.about h3 {
  font-weight: 600;
  font-size: 18px;
  color: #212ea0;
  margin-bottom: 20px;
}

.about h2 {
  font-size: 32px;
  color: #000f38;
  margin: 10px 0;
  margin-bottom: 20px;
  max-width: 900px;
  text-align: center;
  margin-bottom: 40px;
}

.about p {
  color: #313131;
  margin-bottom: 15px;
  font-size: 22px;
  word-spacing: 1.5;
}

#highlight_dark {
  color: #212ea0;
}

hr {
  border: 0.5px solid grey;
  margin-bottom: 20px;
}

h5 {
  padding-top: 20px;
  color: #212ea0;
}
/* 
-----------
media query
----------- */
