nav {
  width: 100vw;
  color: #fff;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  padding: 10px;
  transition: 1s;
}

.logo {
  width: 80px;
  cursor: pointer;
  pointer-events: none;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
  text-transform: uppercase;
}
nav ul li:hover {
  color: #ffffffda;
  transform: translateX(-2px);
  transform: translateY(1px);
}

.dark-nav {
  background-color: rgba(77, 72, 114, 0.97);
  transition: 1s;
}

/* ------------
MEDIA QUERY
------------ */
@media (max-width: 1000px) {
  .logo {
    width: 60px;
  }
  nav ul li {
    margin: 10px 15px;
  }
}

.menu-icon {
  display: none;
}
/* ---------
Media query
--------- */

@media (max-width: 840px) {
  nav {
    padding: 15px 0;
  }
  nav ul {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgb(44, 40, 77);
    z-index: -1;
    width: 250px;
    padding-top: 70px;
    transition: 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px 40px;
    padding: 15px;
  }
  .menu-icon {
    display: block;
    width: 30px;
    cursor: pointer;
  }
  .hide-mobile-menu {
    right: -250px;
  }
}
